<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="note" style="margin-left: 130px;color:black;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;font-size: 18px;margin-top: 20px;width: 600px;"> Submitted Successfully!!!!!</p>
    <p id="note" style="margin-left: 130px;color:black;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;font-size: 18px;margin-top: 20px;width: 600px;"> Note: For Confirmation process we will call you in sometime</p>
    <a href="http://127.0.0.1:8000/">
    <button style="margin-top:20px;font-weight: bold;width: 180px;height: 60px;border-radius: 20px; background-color: #0e0d0d; color: rgb(244, 243, 243);margin-left: 150px;font-family:Georgia, 'Times New Roman', Times, serif;">Home Page</button>
    </a>

    <script>

 </script>
</body>
</html>